doctype html
html
  head
    title Spotify Favorites
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    style(type="text/css" rel = "stylesheet" href = "/main.css")
  body
    .container
      #login
        h1 Automatically generate a playlist of favorite songs
        a.btn.btn-primary(href="/login") Log in with Spotify
      #loggedin
        h1#header-logged-in
        p All set! The playlist will be updated every 24 hours.
        a#unsubscribe() Unsubscribe
    script(src="https://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/main.js")
      
